 <div class="background"> 
  <div class="login-container">
    <mat-card class="login-card">
      <mat-card-content>
      <form>   
          <mat-form-field class="full-width">
            <input matInput placeholder="E-mail" name="username" [(ngModel)]="user.username" required>
            <!-- formControlName="nome" -->
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Senha" name="password" [(ngModel)]="user.password"required>
            <!-- formControm="senha"  -->
          </mat-form-field>

         <button (click)="enviarDadosLogin()"  mat-raised-button color="primary">Login</button> 
         <button (click)="enviarDadoscadastro()" mat-raised-button color="basic">Cadastre-se</button> 
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

